<script>
    import { onMount } from 'svelte';
    import * as GL from '@sveltejs/gl';

    export let color = '#ff3e00';

    console.log(GL)

    let boxes = [
        {x:0, y:0, z:0, x_w:.3, y_d:5, z_h:.3}
    ];
    let sphere_r = .5;
    let spheres = [
        {x:boxes[0].x * boxes[0].x_w/2, y:boxes[0].y * boxes[0].y_d/2, z:boxes[0].z * boxes[0].z_h/2, r:sphere_r}
    ];

    const from_hex = hex => parseInt(hex.slice(1), 16);

    const light = {};
//   let box_location = [
//      boxes[0].x,
//      boxes[0].y,
//      boxes[0].z
//  ];
  let box_location = Array(boxes[0].x, boxes[0].y + boxes[0].y_d/2, boxes[0].z);
  let box_shape = Array(boxes[0].x_w, boxes[0].y_d, boxes[0].z_h);
//  Array(boxes[0].x_w, boxes[0].y_d, boxes[0].z_h);

    console.log(box_location);

    onMount(() => {
        let frame;

        const loop = () => {
            frame = requestAnimationFrame(loop);

            light.x = 0.0 + 3 * Math.sin(Date.now() * 0.0001);
            light.y = 2.5 + 2 * Math.sin(Date.now() * 0.00004);
            light.z = 1.0 + 1 * Math.cos(Date.now() * 0.0002);
        };

        loop();

        return () => cancelAnimationFrame(frame);
    });
</script>

<GL.Scene>
    <GL.Target id="center" location={[0, boxes[0].y_d/2, 0]}/>

    <GL.OrbitControls maxPolarAngle={Math.PI / 2} let:location>
        <GL.PerspectiveCamera {location} lookAt="center" near={0.01} far={1000}/>
    </GL.OrbitControls>

    <GL.AmbientLight intensity={0.4}/>
    <GL.DirectionalLight direction={[-1,-1,-1]} intensity={0.4}/>

    <!-- floor -->
    <GL.Mesh
        geometry={GL.plane()}
        location={
                     [0.0, -0.01, 0]
                     }
        rotation={[-90,0,0]}
        scale={10}
        uniforms={{ color: 0xffffff }}
    />

    <GL.Mesh
        geometry={GL.box()}
        location={box_location}
        rotation={[0,-20,0]}
        scale={box_shape}
        uniforms={{ color: from_hex(color) }}
    />

    <!-- spheres -->
    <GL.Mesh
        geometry={GL.sphere({ turns: 36, bands: 36 })}
        location={Array(spheres[0].x, spheres[0].y, spheres[0].z)}
        scale={0.4}
        uniforms={{ color: 0x123456, alpha: 0.9 }}
        transparent
    />

    <GL.Mesh
        geometry={GL.sphere({ turns: 36, bands: 36 })}
        location={[-1.4, 0.6, 0.2]}
        scale={0.6}
        uniforms={{ color: 0x336644, alpha: 0.9 }}
        transparent
    />

    <!-- moving light -->
    <GL.Group location={[light.x,light.y,light.z]}>
        <GL.Mesh
            geometry={GL.sphere({ turns: 36, bands: 36 })}
            location={[0,0.2,0]}
            scale={0.1}
            uniforms={{ color: 0xffffff, emissive: 0xcccc99 }}
        />

        <GL.PointLight
            location={[0,0,0]}
            color={0xffffff}
            intensity={0.6}
        />
    </GL.Group>
</GL.Scene>

<div class="controls">
    <label>
        <input type="color" style="height: 40px" bind:value={color}>
    </label>

    <label>
        <input type="range" bind:value={boxes[0].x_w} min={0.1} max={5} step={0.1}> width ({boxes[0].x_w})
    </label>

    <label>
        <input type="range" bind:value={boxes[0].z_h} min={0.1} max={5} step={0.1}> height ({boxes[0].z_h})
    </label>

    <label>
        <input type="range" bind:value={boxes[0].y_d} min={0.1} max={5} step={0.1}> depth ({boxes[0].y_d})
    </label>
</div>

<style>
    .controls {
        position: absolute;
        top: 1em;
        left: 1em;
        background-color: rgba(255,255,255,0.7);
        padding: 1em;
        border-radius: 2px;
    }
</style>
