<script>
    import Scatter from './Scatter.svelte';
    import data from './data.js';
    let xscale = 100;
    let yzoom = 100;

    let slope = 1.5;
    let intercept = 2;
</script>

<form><label>
    <input type=number bind:value={xscale} min=1 max=200><br>
    <input type=range bind:value={xscale} min=1 max=200><br>
</label></form>


<style>
    .chart {
        width: 100%;
        max-width: 1280px;
        height: calc(100% - 4em);
        min-height: 280px;
        max-height: 960px;
        margin: 0 auto;
    }
</style>

<div class="chart">
    <h2>Anscombe's quartet</h2>

    <Scatter points={data.a} slope={slope} intercept={intercept}/>
    <Scatter points={data.b} slope={slope} intercept={intercept}/>
    <Scatter points={data.c} slope={slope} intercept={intercept}/>
    <Scatter points={data.d} slope={slope} intercept={intercept}/>
</div>
